h1,
h4,
h2 {
    text-align: center;
}

form {
    display: block;
    margin: auto;
    text-align: center;
    box-shadow: 10px 20px 30px grey;
    width: 50%;
}

input {
    margin: 10px;
    padding: 10px;
}